@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
body, html {
    margin: 0;
    height: 100%;
    overflow-y: fixed;
    font-family: 'Cinzel', serif;
}
.fondo__pp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
.fondo__pp img {
    width: 100%;
    height: 100%;
    object-fit: fill; 
}
.opciones__verticales__pp{
    position: fixed;
    top: 100px;
    left: 50px;
}
.fondo__pps{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom,rgb(20, 120, 210),rgba(0, 0, 255, 0));
}
.fondo__ppi{
    position: fixed;
    top:0px;
    width: 20%;
    height: 100%;
    background: linear-gradient(90deg,rgb(20, 120, 210),rgba(0, 0, 255, 0));
}
.button_R{
    position: fixed;
    top:20px;
    left:70%;
}
.button_I{
    position: fixed;
    top:20px;
    left:80%;
}
.opciones__superior__pp {
    position: fixed;
    top: 70px;
    left: 140px;
    display: flex;
    list-style: none;
}
.opciones__superior__pp a {
    color: black;
    text-decoration: none;
}
.opciones__superior__pp li {
    margin-right: 240px;
    white-space: nowrap; 
}
.opciones__verticales__pp{
    position: fixed;
    top: 100px;
    left: -15px;
}
.opciones__verticales__pp a{
    color: black;
    text-decoration: none;
}
.opciones__verticales__pp li{
    display: block;
    margin-bottom: 60px;
}
.gif{
    width:350px;
    height: auto;
    position: fixed;
    top:575px;
    left:770px;
}
.gif2{
    width: 350px;
    height: auto;
    position: fixed;
    top:575px;
    left:310px;
}
.datos_de_liu_kang{
    position: absolute;
    top: 0px;
    left: 720px;
    color: rgb(255, 255, 255);
    width: 650px;
}
.personaje1{
    position: absolute;
    top: 0px;
    left: -80px;
}
.datos_de_sub_zero{
    position: absolute;
    top: 800px;
    left: 720px;
    color: rgb(255, 255, 255);
    width: 650px;
}
.personaje2{
    position: absolute;
    top: 800px;
    left: -80px;
}
.datos_de_kenshi{
    position: absolute;
    top: 1600px;
    left: 720px;
    color: rgb(255, 255, 255);
    width: 650px;
}
.personaje3{
    position: absolute;
    top: 1600px;
    left: -80px;
}
.datos_de_kitana{
    position: absolute;
    top: 2400px;
    left: 720px;
    color: rgb(255, 255, 255);
    width: 650px;
}
.personaje4{
    position: absolute;
    top: 2400px;
    left: -80px;
}
.info_p h3{
    word-spacing: 0.8em;
}
.movimientos_liu_kang{
    position: static;
    color: rgb(255, 255, 255)
}
.movimientos_sub_zero{
    position: static;
    color: rgb(255, 255, 255)
}
.movimientos_kenshi{
    position: static;
    color: rgb(255, 255, 255)
}
.movimientos_kitana{
    position: static;
    color: rgb(255, 255, 255)
}
.info_h{
    position: absolute;
    text-shadow: red10px,10px,10px;
    left: 400px;
    width: 650px;
}
.cameo1{
    position: absolute;
    top: 0px;
    left: -80px;
}